<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting Page</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="vote">
        <h2>Welcome to the Voting Page, <%= username %>!</h2>
        <h2>Cast Your Vote</h2>
        <form id="vote-form" action="/api/auth/vote" method="POST">
            <label><input type="radio" name="candidate" value="Candidate A"> Candidate A</label>
            <label><input type="radio" name="candidate" value="Candidate B"> Candidate B</label>
            <button type="submit">Vote</button>
        </form>
        <p><a href="/ele-results">View Results</a></p>
    </div>
</body>
</html>